<!-- Importa hoja de estilos -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.css" />

<mat-sidenav-container class="formizq">
  <!-- Barra lateral -->
  <mat-sidenav #sidenav mode="side" [opened]=sidenavOpened>
    <div style="text-align: center;">
      <span style="font-weight: bold; text-decoration: underline; margin-bottom: 10px;">{{ 'contenido.parametros' | translate }}</span>
      <button class="btn infoparametros" mat-button title="{{ 'contenido.parametros-tooltip' | translate }}"(click)="infoParametros()">
        <fa-icon [icon]="faQuestionCircle"></fa-icon>
      </button>
    </div>
    <!-- Parametros a introducir por el usuario -->
    <div class="params-container">
      <!-- Número de envíos -->
      <div style="text-align: left; font-weight: bold;">{{ 'contenido.envios' | translate }}</div>
      <div style="margin-bottom: 10px;margin-left: 10px">
      <button  type="button" class="btn btn-formulario" title="{{ 'contenido.envios' | translate }}" (click)="simulacion.envios=1">
        1
      </button>
      <button  type="button" class="btn btn-formulario" title="{{ 'contenido.envios' | translate }}" (click)="simulacion.envios=2">
        2
      </button>
      <button  type="button" class="btn btn-formulario" title="{{ 'contenido.envios' | translate }}" (click)="simulacion.envios=3">
        3
      </button>
      </div>
      <!-- Cliente -->
      <div style="text-align: left; font-weight: bold; margin-bottom: 5px;">{{ 'contenido.clien' | translate }}</div>
      <mat-form-field title="{{ 'contenido.ipclien-tooltip' | translate }}">
        <input matInput [(ngModel)]="simulacion.ipclien" placeholder="{{ 'contenido.ipclien' | translate }}" />
      </mat-form-field>
      <mat-form-field title="{{ 'contenido.mssclien-tooltip' | translate }}">
        <input matInput type="number" min="1" max="99999999" [(ngModel)]="simulacion.mssclien" placeholder="{{ 'contenido.mssclien' | translate }}" (blur)="simulacion.mssclien = limpiarParametros(simulacion.mssclien)"/>
      </mat-form-field>
      <mat-form-field title="{{ 'contenido.snclien-tooltip' | translate }}">
        <input matInput type="number" min="0" max="9999999" [(ngModel)]="simulacion.snclien" placeholder="{{ 'contenido.snclien' | translate }}" (blur)="simulacion.snclien = limpiarParametros(simulacion.snclien)" />
      </mat-form-field>
      <mat-form-field title="{{ 'contenido.wclien-tooltip' | translate }}">
        <input matInput type="number" min="1" max="99999999" [(ngModel)]="simulacion.wclien" placeholder="{{ 'contenido.wclien' | translate }}" (blur)="simulacion.wclien = limpiarParametros(simulacion.wclien)" />
      </mat-form-field>
      <div *ngIf="simulacion.envios==1 || simulacion.envios==2 || simulacion.envios==3" style="text-align: left; margin-bottom: 5px;">{{ 'contenido.primerenvio' | translate }}</div>
      <mat-form-field *ngIf="simulacion.envios==1 || simulacion.envios==2 || simulacion.envios==3" title="{{ 'contenido.datosclien-tooltip' | translate }}">
        <input matInput type="number" min="1" max="99999999" [(ngModel)]="simulacion.datosclien" placeholder="{{ 'contenido.datosclien' | translate }}" (blur)="simulacion.datosclien = limpiarParametros(simulacion.datosclien)" />
      </mat-form-field>
      <mat-form-field *ngIf="simulacion.envios==1 || simulacion.envios==2 || simulacion.envios==3" title="{{ 'contenido.segperdclien-tooltip' | translate }}">
        <input matInput [(ngModel)]="simulacion.segperdclien" placeholder="{{ 'contenido.segperdclien' | translate }}"/>
      </mat-form-field>
      <div *ngIf="simulacion.envios==2 || simulacion.envios==3" style="text-align: left; margin-bottom: 5px;">{{ 'contenido.segundoenvio' | translate }}</div>
      <mat-form-field *ngIf="simulacion.envios==2 || simulacion.envios==3" title="{{ 'contenido.datosclien-tooltip' | translate }}">
        <input matInput type="number" min="1" max="99999999" [(ngModel)]="simulacion.datosclien2" placeholder="{{ 'contenido.datosclien' | translate }}" (blur)="simulacion.datosclien = limpiarParametros(simulacion.datosclien)" />
      </mat-form-field>
      <mat-form-field *ngIf="simulacion.envios==2 || simulacion.envios==3 " title="{{ 'contenido.segperdclien-tooltip' | translate }}">
        <input matInput [(ngModel)]="simulacion.segperdclien" placeholder="{{ 'contenido.segperdclien2' | translate }}"/>
      </mat-form-field>
      <div *ngIf="simulacion.envios==3" style="text-align: left; margin-bottom: 5px;">{{ 'contenido.tercerenvio' | translate }}</div>
      <mat-form-field *ngIf="simulacion.envios==3" title="{{ 'contenido.datosclien-tooltip' | translate }}">
        <input matInput type="number" min="1" max="99999999" [(ngModel)]="simulacion.datosclien3" placeholder="{{ 'contenido.datosclien' | translate }}" (blur)="simulacion.datosclien = limpiarParametros(simulacion.datosclien)" />
      </mat-form-field>
      <mat-form-field *ngIf="simulacion.envios==3 " title="{{ 'contenido.segperdclien-tooltip' | translate }}">
        <input matInput [(ngModel)]="simulacion.segperdclien" placeholder="{{ 'contenido.segperdclien3' | translate }}"/>
      </mat-form-field>
      <!-- Servidor -->
      <div style="text-align: left; font-weight: bold; margin-bottom: 5px;">{{ 'contenido.serv' | translate }}</div>
      <mat-form-field title="{{ 'contenido.ipserv-tooltip' | translate }}">
        <input matInput [(ngModel)]="simulacion.ipserv" placeholder="{{ 'contenido.ipserv' | translate }}" />
      </mat-form-field>
      <mat-form-field title="{{ 'contenido.mssserv-tooltip' | translate }}">
        <input matInput type="number" min="1" max="99999999" [(ngModel)]="simulacion.mssserv" placeholder="{{ 'contenido.mssserv' | translate }}" (blur)="simulacion.mssserv = limpiarParametros(simulacion.mssserv)" />
      </mat-form-field>
      <mat-form-field title="{{ 'contenido.snserv-tooltip' | translate }}">
        <input matInput type="number" min="0" max="9999999" [(ngModel)]="simulacion.snserv" placeholder="{{ 'contenido.snserv' | translate }}" (blur)="simulacion.snserv = limpiarParametros(simulacion.snserv)" />
      </mat-form-field>
      <mat-form-field title="{{ 'contenido.wserv-tooltip' | translate }}">
        <input matInput type="number" min="1" max="99999999" [(ngModel)]="simulacion.wserv" placeholder="{{ 'contenido.wserv' | translate }}" (blur)="simulacion.wserv = limpiarParametros(simulacion.wserv)" />
      </mat-form-field>
      <div *ngIf="simulacion.envios==1 || simulacion.envios==2 || simulacion.envios==3" style="text-align: left; margin-bottom: 5px;">{{ 'contenido.primerenvio' | translate }}</div>
      <mat-form-field *ngIf="simulacion.envios==1 || simulacion.envios==2 || simulacion.envios==3" title="{{ 'contenido.datosserv-tooltip' | translate }}">
        <input matInput type="number" min="1" max="99999999" [(ngModel)]="simulacion.datosserv"
          placeholder="{{ 'contenido.datosserv' | translate }}" (blur)="simulacion.datosserv = limpiarParametros(simulacion.datosserv)" />
      </mat-form-field>
      <mat-form-field *ngIf="simulacion.envios==1 || simulacion.envios==2 || simulacion.envios==3" title="{{ 'contenido.segperdserv-tooltip' | translate }}">
        <input matInput [(ngModel)]="simulacion.segperdserv" placeholder="{{ 'contenido.segperdserv' | translate }}" />
      </mat-form-field>
      <div *ngIf="simulacion.envios==2 || simulacion.envios==3" style="text-align: left; margin-bottom: 5px;">{{ 'contenido.segundoenvio' | translate }}</div>
      <mat-form-field *ngIf="simulacion.envios==2 || simulacion.envios==3" title="{{ 'contenido.datosserv-tooltip' | translate }}">
        <input matInput type="number" min="1" max="99999999" [(ngModel)]="simulacion.datosserv2"
          placeholder="{{ 'contenido.datosserv' | translate }}" (blur)="simulacion.datosserv = limpiarParametros(simulacion.datosserv)" />
      </mat-form-field>
      <mat-form-field *ngIf="simulacion.envios==2 || simulacion.envios==3" title="{{ 'contenido.segperdserv-tooltip' | translate }}">
        <input matInput [(ngModel)]="simulacion.segperdserv2" placeholder="{{ 'contenido.segperdserv' | translate }}" />
      </mat-form-field>
      <div *ngIf="simulacion.envios==3" style="text-align: left; margin-bottom: 5px;">{{ 'contenido.tercerenvio' | translate }}</div>
      <mat-form-field *ngIf="simulacion.envios==3" title="{{ 'contenido.datosserv-tooltip' | translate }}">
        <input matInput type="number" min="1" max="99999999" [(ngModel)]="simulacion.datosserv3"
          placeholder="{{ 'contenido.datosserv' | translate }}" (blur)="simulacion.datosserv = limpiarParametros(simulacion.datosserv)" />
      </mat-form-field>
      <mat-form-field *ngIf="simulacion.envios==3" title="{{ 'contenido.segperdserv-tooltip' | translate }}">
        <input matInput [(ngModel)]="simulacion.segperdserv3" placeholder="{{ 'contenido.segperdserv' | translate }}" />
      </mat-form-field>
      <!-- General -->
      <div style="text-align: left; font-weight: bold; margin-bottom: 5px;">{{ 'contenido.general' | translate }}</div>
      <mat-form-field title="{{ 'contenido.timeout-tooltip' | translate }}">
        <input matInput type="number" min="0" max="99999999" [(ngModel)]="simulacion.timeout" placeholder="{{ 'contenido.timeout' | translate }}" (blur)="simulacion.timeout = limpiarParametros(simulacion.timeout)" />
      </mat-form-field>
      <mat-form-field title="{{ 'contenido.algort-tooltip' | translate }}">
        <mat-label>{{ 'contenido.algort-tooltip' | translate }}</mat-label>
        <mat-select [(value)]="simulacion.algort">
          <mat-option value="1">TCP Reno</mat-option>
          <mat-option value="2">TCP Tahoe</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field title="{{ 'contenido.umbral-tooltip' | translate }}">
        <input matInput type="number" min="0" max="99999999" [(ngModel)]="simulacion.umbral" placeholder="{{ 'contenido.umbral' | translate }}" (blur)="simulacion.umbral = limpiarParametros(simulacion.umbral)" />
      </mat-form-field>
      <mat-form-field title="{{ 'contenido.cierre-tooltip' | translate }}">
        <mat-label>{{ 'contenido.cierre' | translate }}</mat-label>
        <mat-select [(value)]="simulacion.cierre">
          <mat-option value="1">{{ 'contenido.clien' | translate }}</mat-option>
          <mat-option value="2">{{ 'contenido.serv' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Boton de simular, rellenar y limpiar formulario -->
    <div style="margin-bottom: 15px;">
      <button type="button" class="btn btn-formulario" title="{{ 'contenido.simularpaso' | translate }}" (click)="pasoapaso_retrocede();simular()" >
        <i class="fas fa-backward"></i>
    </button>
      <button *ngIf="movil" type="button" class="btn btn-formulario" title="{{ 'contenido.simular' | translate }}" (click)="simular(); sidenav.toggle()">
        <fa-icon [icon]="faPlay"></fa-icon>
      </button>
      <button *ngIf="!movil" type="button" class="btn btn-formulario" title="{{ 'contenido.simular' | translate }}" (click)="simular()">
        <fa-icon [icon]="faPlay"></fa-icon>
      </button>
      <button type="button" class="btn btn-formulario" title="{{ 'contenido.simularpaso' | translate }}" (click)="pasoapaso_avanza();simular();">
        <i class="fas fa-forward"></i>
    </button>
      <button type="button" class="btn btn-formulario" title="{{ 'contenido.rellenar' | translate }}" (click)="rellenarDatos()">
        <fa-icon [icon]="faRandom"></fa-icon>
      </button>
      <button type="button" class="btn btn-formulario" title="{{ 'contenido.limpiar' | translate }}" (click)="limpiar()">
        <fa-icon [icon]="faEraser"></fa-icon>
      </button>
    </div>
    <div style="text-align: left; font-weight: bold; margin-bottom: 5px;margin-left: 5px;">Paso hasta el que simular</div>
    <div style="text-align: left; font-weight: bold; margin-bottom: 5px;margin-left: 10px;">
      <mat-form-field title="{{ 'contenido.pasoapaso-tooltip' | translate }}">
        <input matInput type="number" min="0" max="99999999" [(ngModel)]="simulacion.pasoapaso" placeholder="{{ 'contenido.simularpaso' | translate }}" (blur)="simulacion.pasoapaso = limpiarParametros(simulacion.pasoapaso)" />
      </mat-form-field>
    </div>
  </mat-sidenav>
  
  <!-- Contenido -->
  <mat-sidenav-content >
    <!-- Boton para ocultar o mostar el menu -->
    <button mat-button title="{{ 'contenido.menu' | translate }}" (click)="sidenav.toggle(); infoMovil = false">
      <div class="btn btn-menu">
        <fa-icon [icon]="faBars"></fa-icon>
      </div>
    </button>

    <!-- Alertas -->
    <div class="alerta">
      <!-- Alerta de cookies -->
      <ngb-alert *ngIf="infoMsg && infoCookie" type="info" (close)="infoCookie = false" class="alert-animation"><fa-icon [icon]="faCookieBite"></fa-icon> {{ 'contenido.cookies' | translate }}.</ngb-alert>
      <!-- Alerta de guia disponible -->
      <ngb-alert *ngIf="infoGuia" type="info" (close)="infoGuia = false" class="alert-animation"><fa-icon [icon]="faEye"></fa-icon> {{ 'contenido.guia' | translate }} <fa-icon [icon]="faBook"></fa-icon> {{ 'contenido.guia2' | translate }}.</ngb-alert>
      <!-- Alerta de navegadores compatibles -->
      <ngb-alert *ngIf="infoMsg && !navOptimizado && infoOpt" type="warning" (close)="infoOpt = false" class="alert-animation"><fa-icon [icon]="faExclamationTriangle"></fa-icon> {{ 'contenido.aviso' | translate }}.</ngb-alert>
      <!-- Alerta de usabilidad en dispositivo movil -->
      <ngb-alert *ngIf="movil && infoMovil" type="info" (close)="infoMovil = false" class="alert-animation"><fa-icon [icon]="faHandPointUp"></fa-icon> {{ 'contenido.movil' | translate }} <fa-icon [icon]="faBars"></fa-icon> {{ 'contenido.movil2' | translate }}.</ngb-alert>
      <!-- Alerta de encuesta disponible -->
       <ngb-alert *ngIf="infoEncuesta" type="info" (close)="infoEncuesta = false" class="alert-animation"><fa-icon [icon]="faPollH"></fa-icon> {{ 'contenido.encuesta' | translate }} <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAMAANGb5fdUMU5GWTJXTFpFSENVQlJUVzlSWjJDVVdIRy4u" target="_blank"
        title="https://forms.office.com/Pages/ResponsePage...">{{ 'contenido.encuesta2' | translate }}</a>. {{ 'contenido.encuesta3' | translate }}.</ngb-alert>


      <!-- Alerta de implementacion en proceso -->
      <ngb-alert *ngIf="enprocMsg" type="warning" (close)="enprocMsg = false" class="alert-animation"><fa-icon [icon]="faCogs"></fa-icon> {{ 'contenido.enproceso' | translate }}.</ngb-alert>

      <!-- Alerta de errores en el formulario -->
      <div *ngFor="let alerta of alertas" class="alert-animation">
        <ngb-alert type="danger" (close)="cerrarAlerta(alerta)">
          <fa-icon [icon]="faExclamationCircle"></fa-icon>&nbsp;<strong>{{ alerta.campo }}</strong> {{ alerta.msg }}.</ngb-alert>
      </div>
    </div>
    <!-- Simulacion -->
    <div class="contsimulacion" *ngIf="ejecutar">
      <app-simulacion [simular]="simulacionEnv"></app-simulacion>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
