button[aria-label="Close"]:focus {
    outline: none;
}

.btn-modal {
    color       : #004e99;
    border-color: #004e99;
    margin-left : 10px;
    margin-top  : 10px;
}

.btn-modal:hover {
    color           : #fff;
    background-color: #004e99;
    border-color    : #004e99;
}

.icon {
    font-size  : 100px;
    color      : #004e99;
    margin-left: 35%;
}

.icon:hover .icon-unlock,
.icon-lock {
    display: none;
}

.icon:hover .icon-lock {
    color  : black;
    display: inline;
}