/* Tabla general */
.fa-exclamation{
  
  background: #F9EE03;
  color: #000;
  font-size: 30px;
  padding: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
} 
.fa-history
{
    color: #f90b03;
    font-size: 30px;
    padding: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;   
}
.fa-clock
{
    color: #000000;
    font-size: 30px;
    padding: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;   
}
table {
    width        : 1000px;
    margin-bottom: 10px;
}

td {
    border         : 2px solid black;
    border-collapse: collapse;
    border-style   : dashed;
    width          : 20%;
    height         : 40px;
}

td.info-izq {
    border        : hidden;
    width         : 40%;
    text-align    : right;
    padding-right : 10px;
    vertical-align: middle;
}

td.info-dcha {
    border        : hidden;
    width         : 40%;
    text-align    : left;
    padding-left  : 10px;
    vertical-align: middle;
}

th.clien {
    border        : hidden;
    width         : 40%;
    text-align    : right;
    padding-right : 10px;
    vertical-align: middle;

}

th.serv {
    border        : hidden;
    width         : 40%;
    text-align    : left;
    padding-left  : 10px;
    vertical-align: middle;

}

/* Tabla de flujo */
table.flujo {
    width        : 1000px;
    margin-bottom: 30px;
    padding-right: 40px;
}


/* Imagenes del flujo */
img.flechacli {
    height: 100%;
    width : 100%;
    filter: opacity(0.5) drop-shadow(0 0 0 blue);
}

img.flechaserv {
    height: 100%;
    width : 100%;
    filter: opacity(.5) drop-shadow(0 0 0 green);
}

img.flechaperd {
    height: 100%;
    width : 100%;
    filter: opacity(.5) drop-shadow(0 0 0 red);
}

img.flechaperdyACK {
    height: 100%;
    width : 100%;
}

img.flecha {
    height: 100%;
    width : 100%;
}

/* Iconos */
.fa-2x-laptop {
    font-size: 2em;
    color    : #3e3e7e;
}

.fa-2x-server {
    font-size: 2em;
    color    : #3e5e3e
}

/* IPs */
span.ipcli {
    color: #3e3e7e;
}

span.ipserv {
    color: #3e5e3e;
}

/* Gif de carga */
div.load {
    margin-top: 5%;
    justify-content: center;
    display: flex;
}

.load-circle{
    width: 15%;
    min-width: 200px;
}

/* Ventana de congestion*/
span.vcserv {
    background-color: #3e5e3e;
    color           : white;
    border-radius   : 4px;
}

span.vccli {
    background-color: #3e3e7e;
    color           : white;
    border-radius   : 4px;
}

span.modo {
    color        : red;
    border-style : double;
    border-color : red;
    font-weight  : bold;
    border-radius: 4px;
}

span.flagcli {
    color        : #3e3e7e;
    border-style : none;
    border-color : #3e3e7e;
    font-weight  : bold;
    border-radius: 4px;
}

span.flagserv {
    color        : #3e5e3e;
    border-style : none;
    border-color : #3e5e3e;
    font-weight  : bold;
    border-radius: 4px;
}

.cont-opt {
    position: fixed;
    right   : 0;
    width   : -webkit-fill-available;
}

.option {
    position    : absolute;
    right       : 0;
    margin-right: 15px;
    color       : #004e99;
    opacity     : 0.5;
}

.option:hover {
    opacity: 1;
    color  : #004e99;
}

.parametros {
    text-align   : left;
    margin-top   : 10px;
    margin-bottom: 40px;
    display      : none;
}

@media print {
    .parametros {
        display: block !important;
    }
}

.uah-logo {
    width      : 200px;
    display    : block;
    margin-left: auto;
    position   : absolute;
    right      : 0;
}

.text-header {
    position : absolute;
    left     : 0;
    font-size: 14px;
}

.header {
    display: none;
}
