.modal-content {
    width      : 150%;
    margin-left: -25%;
}

@media only screen and (max-width: 765px) {
    .modal-content {
        width       : auto;
        margin-right: auto;
        margin-left : auto;
    }
}

button[aria-label="Close"]:focus {
    outline: none;
}

.modal-body {
    text-align: justify;
}


.btn-modal {
    color       : #004e99;
    border-color: #004e99;
    margin-left : 10px;
    margin-top  : 10px;
}

.btn-modal:hover {
    color           : #fff;
    background-color: #004e99;
    border-color    : #004e99
}

img.herramientas {
    opacity: 0.6;
}

img.herramientas:hover {
    opacity: 1.0;
}

.version {
    position   : absolute;
    left       : 0;
    margin-left: 15px;
    font-size  : 14px;
    color      : grey;
}