<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{ 'infoparametros.titulo' | translate }} <a href="{{ 'infoparametros.tcp-link' | translate }}" target="_blank" title="{{  'infoparametros.masinfo' | translate  }}">+</a></h4>
        <button ngbAutofocus type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')" title="{{ 'infoparametros.cerrar' | translate }}">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">       
        <b>{{ 'infoparametros.encuentas' | translate }}:</b>
        <ul style="list-style-type: square;">
            <li>{{ 'infoparametros.encuenta1' | translate }}.</li>
            <li>{{ 'infoparametros.encuenta2' | translate }}.</li>
            <li>{{ 'infoparametros.encuenta3' | translate }}.</li>
            <li>{{ 'infoparametros.politicaACK' | translate }}:
                <ul>
                    <li>{{ 'infoparametros.politicaACK1' | translate }}.</li>
                    <li>{{ 'infoparametros.politicaACK2' | translate }}.</li>
                    <li>{{ 'infoparametros.politicaACK3' | translate }}.</li>
                    <li>{{ 'infoparametros.politicaACK4' | translate }}.</li>
                    <li>{{ 'infoparametros.politicaACK5' | translate }}.</li>
                    <li>{{ 'infoparametros.politicaACK6' | translate }}.</li>
                </ul>
            </li>
        </ul>
        <b>{{ 'infoparametros.introducir' | translate }} (<span class="oblig">*</span> {{ 'infoparametros.obligatorio' | translate }}):</b><br>
        <ul>
            <li><b><a href="{{ 'infoparametros.ip-link' | translate }}" target="_blank" title="{{ 'infoparametros.masinfo' | translate }}">{{ 'infoparametros.ip' | translate }}</a><span class="oblig">*</span>:</b> {{ 'infoparametros.ip-text' | translate }}</li>
            <li><b><a href="{{ 'infoparametros.mss-link' | translate }}" target="_blank" title="{{ 'infoparametros.masinfo' | translate }}">{{ 'infoparametros.mss' | translate }}</a><span class="oblig">*</span>:</b> {{ 'infoparametros.mss-text' | translate }}</li>
            <li><b><a href="{{ 'infoparametros.datos-link' | translate }}" target="_blank" title="{{ 'infoparametros.masinfo' | translate }}">{{ 'infoparametros.datos' | translate }}</a><span class="oblig">*</span>:</b> {{ 'infoparametros.datos-text' | translate }}</li>
            <li><b><a href="{{ 'infoparametros.sn-link' | translate }}" target="_blank" title="{{ 'infoparametros.masinfo' | translate }}">{{ 'infoparametros.sn' | translate }}</a><span class="oblig">*</span>:</b> {{ 'infoparametros.sn-text' | translate }}</li>
            <li><b><span style="color: #023163">{{ 'infoparametros.segperd' | translate }}</span>:</b> {{ 'infoparametros.segperd-text' | translate }}</li>
            <li><b><a href="{{ 'infoparametros.w-link' | translate }}" target="_blank" title="{{ 'infoparametros.masinfo' | translate }}">{{ 'infoparametros.w' | translate }}</a><span class="oblig">*</span>:</b> {{ 'infoparametros.w-text' | translate }}</li>
            <li><b><span style="color: #023163">{{ 'infoparametros.timeout' | translate }}</span>:</b> {{ 'infoparametros.timeout-text' | translate }}</li>
            <li><b><span style="color: #023163">{{ 'infoparametros.alg' | translate   }}</span><span class="oblig">*</span>:</b> {{ 'infoparametros.alg-text' | translate }}</li>
            <li><b><a href="{{ 'infoparametros.umbral-link' | translate }}" target="_blank" title="{{ 'infoparametros.masinfo' | translate }}">{{ 'infoparametros.umbral' | translate }}</a><span class="oblig">*</span>:</b> {{ 'infoparametros.umbral-text' | translate }}</li>
            <li><b><span style="color: #023163">{{ 'infoparametros.cierre' | translate   }}</span><span class="oblig">*</span>:</b> {{ 'infoparametros.cierre-text' | translate }}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-modal" (click)="activeModal.close('Close click')" title="{{ 'infoparametros.cerrar' | translate }}">{{ 'infoparametros.cerrar' | translate }}</button>
    </div>
</div>
